@charset "UTF-8";

#photo_result{
		  width: 320px;
		  height: 240px;
}

#navbar-logo{
		  color: white;
}

.msgAuthor{

}

.msgContent{

}

.chatMsg{

}

/*TODO: añadir más atributos a los colores*/
.chatMsg.red{
		  color: red;
}

.chatMsg.green{
		  color: red;
}

.chatMsg.blue{
		  color: red;
}

.chatMsg.orange{
		  color: red;
}

.chatInput{
		  position: fixed;
		  bottom: 0;
		  width: 100%;
}
